.element__like {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/element__like.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.element__like:active {
  background-image: url(../../../images/element__like-active.svg);
}

.element__like:hover {
  opacity: 0.6;
}