.element__like {
    height: 19px;
    width: 22px;
    background-image: url(../../../images/element__like.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}

.element__like:hover {
    opacity: 0.6;
}