.element__delete {
    background-image: url(../../../images/element__button-delete.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    background-size: cover;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}